.navigation
{
    text-align: center;
    
}
.img1{
    margin-top: 0;
    padding-top:3px ;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 